.comment-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1rem auto;
}


.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8rem;
}

.comment-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: bold;
}

.date {
  font-size: 0.85rem;
  color: #aaa;
}

.comment-message {
  margin: 0.8rem 0;
}

.comment-options {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: #777;
  cursor: pointer;
  justify-content: right;
}

.comment-form {
  margin-top: 2rem;
  padding: 10px;
}

.comment-form textarea {
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
  padding: 0.5rem;
  resize: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.comment-form button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.action-link {
  text-decoration: none;
  color: inherit; /* o el color que quieras */
  transition: text-decoration 0.2s;
}

.action-link:hover {
  text-decoration: underline;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
}


