.recovery-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  min-height: 100vh;
}

.recovery-form-box {
  background-color: #222;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.recovery-form-box h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 24px;
  color: #ff3c3c;
  margin-bottom: 0.5rem;
}

.recovery-form-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.recovery-form-box input,
.recovery-form-box select {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

.recovery-form-box input:focus,
.recovery-form-box select:focus {
  outline: 2px solid crimson;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}

.recovery-form-box button {
  width: 100%;
  background-color: #a00;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.recovery-form-box button:hover {
  background-color: #c00;
}

.side-image {
  padding-left: 10px;
  width:400px;
  object-fit: cover;
  height: auto;
  align-self: stretch;
  border-radius: 10px
}

button[type="submit"] {
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #a00 !important;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

button[type="submit"]:hover {
  background-color: #c00 !important;
}