body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: 'Arial', sans-serif;
}

.user-form-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0;
  gap: 2rem;
}

.side-image {
  width:400px;
  object-fit: cover;
  height: auto;
  align-self: stretch;
  border-radius: 10px
}

.formulario {
  background-color: #1e1e1e;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  color: #fff;
  width: 600px;
}

.formulario h1 {
  font-size: 24px;
  color: #ff3c3c;
  margin-bottom: 0.5rem;
}

.formulario p {
  margin-bottom: 2rem;
  color: #ccc;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.campo input,
.campo select,
.campo textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.campo span {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

textarea {
  resize: none;
  height: 80px;
}

.contador {
  font-size: 0.8rem;
  text-align: right;
  color: #aaa;
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.botones button {
  padding: 0.7rem 2rem;
  background-color: #a80000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botones button:hover {
  background-color: #d40000;
}

@media (max-width: 1024px) {
  .user-form-layout {
    flex-direction: column;
    align-items: center;
  }

  .side-image {
    display: none;
  }

  .formulario {
    width: 90%;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

