body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.character-container {
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.character-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Imagen + likes/comentarios */
.card {
  background-color: #111;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.like-icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  transition: color 0.3s, opacity 0.3s;
}

.icon-stats span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;
  color: #ccc;
  cursor: pointer;
}

.icon-stats svg {
  font-size: 1.2rem; /* mismo tamaño para ambos íconos */
}


.like-icon.liked {
  color: #4caf50; /* verde */
}

.like-icon.not-liked {
  color: #999;
  opacity: 0.5;
}

.like-icon:hover svg {
  transform: scale(1.1);
}

.icon-stats {
  display: flex;
  gap: 1.5rem; /* separación entre íconos */
  margin-top: 0.8rem;
}


/* Datos del personaje */
.character-details {
  max-width: 500px;
  flex: 1;
}

table {
  width: 100%;
  background-color: #111;
  padding: 1rem;
  border-radius: 8px;
}

td {
  padding: 0.5rem 0;
  font-size: 1rem;
}

/* Botón "+" */
.plus-button {
  background-color: #8b0000;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-top: 1rem;
  cursor: pointer;
}

.plus-button:hover {
  background-color: #a30000;
}

/* Botones de acción */
.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.action-buttons button {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.action-buttons button:hover {
  background-color: #a30000;
}

.note {
  color: #ff4d4d;
  margin-top: 1rem;
  text-align: center; /* <--- centraliza todo */
  padding-bottom: 10px;
}


.comments-button {
  background-color: #444;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comments-button:hover {
  background-color: #666;
}

@media (max-width: 768px) {
  .character-content {
    flex-direction: column;
    align-items: center;
  }

  .character-details {
    width: 100%;
  }
}
