.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.commentCard {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  width: 500px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8rem;
}

.commentMeta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: bold;
}

.date {
  font-size: 0.85rem;
  color: #aaa;
}

.commentMessage {
  margin: 0.8rem 0;
}

.commentOptions {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: #777;
  cursor: pointer;
  justify-content: flex-end;
}

.commentForm {
  margin-top: 2rem;
  width: 500px; /* Misma anchura que los comentarios */
  padding: 10px;
  background-color: black
}

.commentForm textarea {
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
  padding: 0.5rem;
  resize: none;
  word-break: break-word;
  overflow-wrap: break-word;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.commentForm button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.actionLink {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.2s;
}

.actionLink:hover {
  text-decoration: underline;
}

.verMasBtn {
  background-color: transparent;
  border: 1px solid red;
  padding: 6px 12px;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.verMasBtn:hover {
  background-color: #a30000;
}

hr {
  width: 100%;
  border: none;
  border-top: 3px solid red;
  margin-bottom: 1rem;
}
